.footer{
    padding-bottom: 30px;
    background-color: #232323;
    justify-items: center;
    align-content: end;
    height: 270px;

    .ftr-text{
        letter-spacing: 3px;

    }

    .ftr-hed{
        letter-spacing: 8px;
        line-height: 2px;

    }
    .icons{
        letter-spacing: 30px;

    }
}