.header{
    font-family: "Josefin Sans";
    color: #FFFFFF;
    background-image: url(../images/header-bg.svg);
    justify-items: center;
    position: relative;

    .navbar{

        display: flex;
        position: absolute;
        border-radius: 2px solid #5474FD;
        background-color: #5474FD;
        width: 100%;
        justify-content: space-around;
        align-items: center;

    }
}

.nav-items{
    text-decoration: none;
    font-family: "Aleo";
    color: #FFFFFF;
    font-size: small;
}

.nav{
    display: flex;
    list-style-type: none;
    gap: 30px;
}