@import "header.scss";
@import "footer.scss";
@import "variables.scss";

body{
    width: 100%;
    height: 100vh;
    margin: 10px;
    padding: 0;
    font-family: "Josefin Sans";
    color: #FFFFFF;
}


.sectionA{
    
    display: flex;
    height: 650px;
    background-image: url(../images/section-1bg.svg);
    align-items: center;
    justify-content: center; 


    .secA-text{

        justify-content: center;
        width: 500px;

        .secA-textB{
            
            font-size: 16px;
            font-weight: normal;
        }
        

        

    }


    .secA-img{
        margin: 30px;
        padding: 30px;
        display: inline;
        width: 500px;


        .secA-imgB{
         transform: translate(40px);
        }


    }
}

.secA-hed{
            font-family: "Aleo";
            font-weight: normal;
            font-size: 40px;
        }


.secA-btn{

        margin-top: 40px;
        font-family: "Aleo";
        color: #FFFFFF;
        font-size: medium;
        background-color: #5474FD;
        border: none;
        width: 228px;
        height: 63px;

        &:hover {
            background-color: #999999;
            color: #5474FD;
        }

}


.sectionB{
    justify-items: center;
    align-content: center;
    height: 300px;
    
    background-color: #333333;

    .arrows{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .secB-img{
        font-family: "Aleo";
        font-size: 25px;
        font-weight: normal;
        display: flex;
        justify-items: center;
        gap: 250px;
    }
    
}

.sectionC{
    height: 700px;
    background-image:url(../images/section-2bg.svg);
    .secC{
        transform: translate(150px, 250px);

    }
   
}

 .box{
        background: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(4px);
        width: 450px;
        height: 350px;
        
        padding: 20px;

        .col{
            color: #E8E8E8;
            font-weight: 300;
            
        }

        .secC-text{
            font-size: 20px;
            
        }
        
        .text-reg{
            font-size: 16px;
            
            
        }

}


.sectionD{
    height: 700px;
    background-image:url(../images/section-3bg.svg);
    .secD{
        transform: translate(900px, 250px);

    }
   
}


.sectionE{

    padding: 30px;
    height: 600px;
    justify-items: center;
    background-image: url(../images/section-4bg.svg);

    .secE{
        
        display: flex;
        
    }
    
    .secE-maintext{

        height: 285px;
        background-color: #333333;
        width: 650px;
        align-content: center;
        padding-left: 20px;
        padding-right: 20px;
    }


    .secE-text{
        display: flex;
    }
    
}







