@import "header.scss";
@import "footer.scss";
@import "variables.scss";

body{
    width: 100%;
    height: 100vh;
    margin: 10px;
    padding: 0;
    font-family: "Josefin Sans";
    color: #FFFFFF;
}


.sectionA{
    
    display: flex;
    min-height: 650px;
    background-image: url(../images/section-1bg.svg);
    align-items: center;
    justify-content: center; 


    .secA-text{

        justify-content: center;
        width: 500px;

        .secA-textB{
            
            font-size: 16px;
            font-weight: normal;
        }
        

        

    }


    .secA-img{
        margin: 30px;
        padding: 30px;
        display: inline;
        max-width: 500px;


        .secA-imgB{
         transform: translate(40px);
        }


    }
}

.secA-hed{
            font-family: "Aleo";
            font-weight: normal;
            font-size: 40px;
        }


.secA-btn{

        margin-top: 40px;
        font-family: "Aleo";
        color: #FFFFFF;
        font-size: medium;
        background-color: #5474FD;
        border: none;
        width: 228px;
        height: 63px;

        &:hover {
            background-color: #999999;
            color: #5474FD;
            outline: 2px solid #5474FD;
            outline-offset: 2px;
        }

}


.sectionB{
    justify-items: center;
    align-content: center;
    min-height: 300px;
    
    background-color: #333333;

    .arrows{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .secB-img{
        font-family: "Aleo";
        font-size: 25px;
        font-weight: normal;
        display: flex;
        justify-items: center;
        gap: 250px;
    }
    
}

.sectionC{
    min-height: 700px;
    background-image:url(../images/section-2bg.svg);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 50px;
    .secC{
        max-width: 450px;

    }
   
}

 .box{
        background: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(4px);
        max-width: 450px;
        min-height: 350px;
        
        padding: 20px;

        .col{
            color: #E8E8E8;
            font-weight: 300;
            
        }

        .secC-text{
            font-size: 20px;
            
        }
        
        .text-reg{
            font-size: 16px;
            
            
        }

}

.sectionD {
    display: flex;                  // use flex for horizontal layout
    justify-content: flex-end;      // move content to the right
    align-items: center;            // vertically center content
    padding: 50px;                  // spacing inside section
    min-height: 650px;              // allow flexibility on smaller screens
    background-image: url(../images/section-3bg.svg);
    background-size: cover;
    background-position: center;

    .secD {
        max-width:  450px;
        margin-bottom: 20px;
    }
}



.sectionE{

    padding: 30px;
    height: 600px;
    justify-items: center;
    background-image: url(../images/section-4bg.svg);

    .secE{
        
        display: flex;
        
    }
    
    .secE-maintext{

        height: 285px;
        background-color: #333333;
        width: 650px;
        align-content: center;
        padding-left: 20px;
        padding-right: 20px;
    }


    .secE-text{
        display: flex;
    }
    
}

.color{
            color: white;

            &:hover {
                color: #5474FD;

        }}



@media (max-width: 480px) {
    .sectionA, .sectionB, .sectionC, .sectionD, .sectionE {
        flex-direction: column;
        text-align: center;
    }

    .secA-btn, .buttonA {
        width: 100%;
    }
}








