.header {
  position: relative;
  height: 800px;
  background-image: url(../images/header-bg.svg);
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}
.header .text {
  letter-spacing: 6px;
}
.header .searchbar {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 2px solid;
  width: 500px;
  background-color: #FFFFFF;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .searchbar .textA {
  letter-spacing: 3px;
  font-size: small;
  margin-left: 40px;
  padding-left: 40px;
  color: #999999;
}
.header .searchbar .buttonA {
  font-family: "Aleo";
  color: #FFFFFF;
  font-size: small;
  background-color: #5474FD;
  width: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  -ms-grid-column-align: end;
      justify-self: end;
  margin: 1px;
  border: #FFFFFF;
}
.header .scroll {
  margin-top: 50px;
  padding: 50px;
  justify-items: center;
}
.header .navbar {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #5474FD;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .navbar .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  gap: 30px;
}
.header .navbar .nav .nav-items {
  text-decoration: none;
  font-family: "Aleo";
  color: #FFFFFF;
  font-size: small;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans";
  color: #FFFFFF;
}

.sectionA {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 650px;
  background-image: url(../images/section-1bg.svg);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}
.sectionA .secA-text {
  margin: 30px;
  padding: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  width: 500px;
}
.sectionA .secA-text .secA-textB {
  font-size: 16px;
  font-weight: lighter;
}
.sectionA .secA-text .secA-hed {
  font-family: "Aleo";
  font-weight: normal;
  font-size: 40px;
}
.sectionA .secA-text .secA-btn {
  margin-top: 40px;
  font-family: "Aleo";
  color: #FFFFFF;
  font-size: medium;
  background-color: #5474FD;
  border: none;
  width: 228px;
  height: 63px;
}
.sectionA .secA-img {
  margin: 30px;
  padding: 30px;
  display: inline;
  width: 50%;
  width: 500px;
}
.sectionA .secA-img .secA-imgB {
  -webkit-transform: translate(40px);
          transform: translate(40px);
}

.sectionB {
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 330px;
  background-color: #333333;
}
.sectionB .secB-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 270px;
}